@font-face {
  font-family: 'Welcome';
  src: url(fonts/Welcome);

}


/*universal changes*/
*{
}
/*tags*/
html {
  background-repeat: no-repeat; background-image: url("download.jfif");
}
/*classes*/
.1999{
  background-color: gray
  text-align: center;
  font-family: monospace;
}
.title {
  text-align: center;
  font-family:'Welcome';
  font-size: 40px
}
.body{
  text-align: center;
}
h2 {
  font-size: 30px
}
