/*universal changes*/
*{
}
/*tags*/
html {
  background-color: lightgray;
}
/*classes*/
.ninety-nine{
  margin: 120px;
  background-color: #F9EDF0;
  font-family: monospace;
  font-size: 25px
}
.title {
  text-align: center;
  font-family: 'Special Elite', cursive; serif;
  font-size: 40px
}
.body{
  text-align: center;
}
h2 {
  font-family: 'Special Elite', cursive; serif;
  font-size: 35px
}
.two-thousand1{
  margin: 120px;
  background-color: #E3C9D0;
  font-family: monospace;
  font-size: 25px
}
h3 {
  font-family: 'Sacramento', cursive;
  font-size: 40px
}
.two-thousand2{
  margin: 120px;
  font-size: 25px;
  font-family: monospace;
  background-color: #EF9FB2;

}
.two-thousand7{
  margin: 120px;
  font-size: 25px;
  font-family: monospace;
  background-color: #DE6B8A;
}
